# Variables de entorno para la configuración de la base de datos MySQL

# Nombre de la base de datos que Django utilizará
DB_NAME=smart_parking_db

# Usuario de la base de datos con permisos sobre DB_NAME
DB_USER=root

# Contraseña para el usuario DB_USER
DB_PASSWORD=your_mysql_password

# Host donde se está ejecutando el servidor de MySQL (suele ser localhost)
DB_HOST=127.0.0.1

# Puerto del servidor de MySQL (el predeterminado es 3306)
DB_PORT=3306
